.cold{
    border: 1px solid orange;
    background-color: orange;
    width: 100%;
    height: 500px;
    position: absolute;
    display: flex;
    justify-content: space-around;
    
    .yo{
        h1{
            font-size: 60px;
            color: white;
            text-transform: capitalize;
            font-family:sans-serif;
            padding-top: 40px;
        }
        p{
            text-transform: capitalize;
            font-size: 25px;
            width: 400px;
            color: black;
            font-weight: bold;
        }
    }
    img{
        position: relative;
        margin-top: 8px;
        margin-left: 230px;
        height: 490px;
        
    }
    .drop{
        border: 1px solid white;
        height: 130px;
        width: 500px;
        padding: 20px;
        background-color: white;
        border-radius: 5px;
        .hope{
            display: flex;
            gap: 10px;
            border-bottom: 1px solid gray;
            padding-bottom: 10px;
            
        

            .gom{
                border: 1px solid orangered;
                font-size: 20px;
                border-radius: 5px;
                text-transform: capitalize;
                height: 40px;
                padding-top: 10px;
                padding-left: 10px;
                width: 130px;
                background-color: rgba(255, 68, 0, 0.151);
                color: orangered;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bolder;
            }
            h3{
                font-size: 20px;
                padding-top: 10px;
            }
        }
        
        .john{
            padding-top: 10px;
            i{
                color: orangered;
            }
            input{
                width: 300px;
                border: 1px solid gray;
                text-transform: capitalize;
            }
            button{
                width: 120px;
                border: 1px solid orangered;
                color: white;
                background-color: orangered;
                text-transform: capitalize;
            }
        }
    }
}
