* {
    padding: 0;
    margin: 0;
}

nav{
    background-color: rgba(0, 0, 0, 0.89);
    padding-top: 30px;
    padding-bottom: 2px;
    
    

    ul{
        display: flex;
        list-style: none;
        gap: 200px;
        
        li{
            i{
                font-size: 30px;
                color: whitesmoke;
                padding-left: 20px;
            }

            i:hover{
                transform:scale(1.2);

            }
            #jopp{
                display: none;
            }
            .dop{
                color: whitesmoke;
                text-transform: capitalize;
                font-weight: bold;
                font-family:monospace;
                font-size: 30px;
                list-style: none;
                text-decoration: none;
            }
           
            .flop{
                font-size: 30px;
                color: white;
                text-transform: capitalize;
                font-weight: bold;
                font-family:monospace;
                list-style: none;
                text-decoration: none;
            }
        
            
          
        }
    }
}
.fun{
    top: 0;
    border: 1px solid;
    width: 310px;
    height: 500px;
    position: absolute;
    padding-top: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color:rgba(0, 0, 0, 0.89);
    z-index: 999999;
    left: -350px;
    transition: 2s;
    

    .xop{
        list-style: none;
        
        
        li{
            list-style: none;
            
            i{
                font-size: 40px;
                padding-left: 10px;
                color: aqua;
                
                
            }
            i:hover{
                color:crimson;
                
            }
        }
    }
    .jo{
        li{
            list-style: none;
            padding-top:20px ;

            .fa-user{
                font-size: 50px;
            }
            .fa-user:hover{
                color: crimson;
            }

            a{
                text-decoration: none;
                font-size: 20px;
                color: white;
                text-transform: capitalize;
                font-family: cursive;
            }
            a:hover{
                color: crimson;
            }
            #raw{
                border: 1px solid transparent;
                text-transform: capitalize;
                color: blue;
                background-color: wheat;
                
            }
            #raw:hover{
                background-color: crimson;
                color:azure;
            }
            i{
                font-size: 30px;
                color: white;
            }
            i:hover{
                color: crimson;
            }
        
        }
    }
}
@media(max-width:400px){

    * {
        padding: 0;
        margin: 0;
    }
    
  
    nav{
        background-color: rgba(0, 0, 0, 0.89);
       width: 376px;
       overflow-x: hidden;
        
        
    
        ul{
            display: flex;
            list-style: none;
            gap: 10px;
            
            li{
                #glow{
                    display: none;
                }
                #jopp{
                    display: block;
                    font-size: 20px;
                    color: whitesmoke;
                    
                }
    
                #jopp:hover{
                    transform:scale(1.2);
    
                }
                .dop{
                    color: whitesmoke;
                    text-transform: capitalize;
                    font-weight: light;
                    font-family:monospace;
                    font-size: 20px;
                    list-style: none;
                    text-decoration: none;
                }
               
                .flop{
                    font-size: 20px;
                    color: white;
                    text-transform: capitalize;
                    font-weight: light;
                    font-family:monospace;
                    list-style: none;
                    text-decoration: none;
                }
                
              
            }
        }
    }
    .fun{
        top: 0;
        border: 1px solid;
        width: 110px;
        height: 250px;
        position: absolute;
        padding-top: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color:rgba(0, 0, 0, 0.89);
        z-index: 999999;
        left: -350px;
        transition: 2s;
        
    
        .xop{
            list-style: none;
            
            
            li{
                list-style: none;
                
                i{
                    font-size: 20px;
                    padding-left: 5px;
                    color: aqua;
                    
                    
                }
                i:hover{
                    color:crimson;
                    
                }
            }
        }
        .jo{
            li{
                list-style: none;
                padding-top:20px ;
    
                .fa-user{
                    font-size: 20px;
                }
                .fa-user:hover{
                    color: crimson;
                }
    
                a{
                    text-decoration: none;
                    font-size: 10px;
                    color: white;
                    text-transform: capitalize;
                    font-family: cursive;
                }
                a:hover{
                    color: crimson;
                }
                #raw{
                    border: 1px solid transparent;
                    text-transform: capitalize;
                    color: blue;
                    background-color: wheat;
                    
                }
                #raw:hover{
                    background-color: crimson;
                    color:azure;
                }
                i{
                    font-size: 10px;
                    color: white;
                }
                i:hover{
                    color: crimson;
                }
            
            }
        }
    }
}
 
