*{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: rgba(165, 160, 160, 0.205);
    padding: 10px;
    width: 100%;
    position: fixed;
    z-index: 99;
    top: 0;
    
    
}
.navitems{
    display: flex;
    gap: 20px;
    list-style: none;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 3px;
    word-spacing: 11px ;
    
}
.navlink{
    color: black;
    text-decoration: none;
    text-transform:uppercase;
    font-weight: 250px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
} 
.navlinkcontact{
    font-size:14px;
    color: black;
    text-decoration: none;
    text-transform:uppercase;
    font-weight:bolder;
    font-family:Arial, Helvetica, sans-serif;
    word-spacing: 3px;
    
} 
.one{
    border: 2px solid;
    color:rgba(128, 128, 128, 0.507);
    height: 20px;
}
.logo{
    height: 70px;
    border-radius: 50%;
    padding-left: 30px;
    padding-top: 15px;
    margin: 0;
    width: 11%;
}
#two{
    text-align: center;
    padding-left: 450px;
    padding-top: 30px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}
.p{
    display: flex;
    z-index: 10;
    position: static;
    padding-top: 50px;
    top: 0;
    padding-bottom: 20px;
}
.cover{
    width: 1350px;
    background: cover;
    height: 1200px;
    
    
}
.para{
    background-color:#DD5336;
    text-transform: uppercase;
    padding-top: 40px;
    font-family:Arial, Helvetica, sans-serif ;
    color:#FDD5A1;
    text-align: center;
    font-size: 15px;
    padding-bottom: 30px;
    margin-top: 5px;
}
.rope{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    font-size:14px ;
    line-height:24px ;
    margin-top: 100px;
    word-spacing: 10px;
    padding-right: 292px;
    padding-left: 292px;
    text-transform: capitalize;
    font-weight: 200;
    background-color: rgba(128, 128, 128, 0.144);
}
.mic{
    text-align: center;
    margin-top: 170px;
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    padding-left: 300px;
    padding-right: 300px;
    word-spacing: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    

}
/* #fish{
    text-transform: capitalize;
    padding-bottom: 20px;
    padding-left: 370px;
    margin-top: 90px;
    color: gray;
}
#dog{
    width: 710px;
    margin-left: 370px;
    height: 40px;
}
.asterisk{
    padding-bottom: 30px;
    padding-left: 475px;
    margin-top: 10px;
    margin-bottom: 200px;
}
#dog:hover{
    color: red;
    transition: 2s;

} */
#dog:focus{
    color: red;
    transition: 20s;
}
.ol{
    padding-left: 370px;
    margin-top: 15px;
    text-transform: capitalize;
}
.joe{
    padding-left: 370px;
    margin-top: 15px;
    text-transform: capitalize;
    padding-right: 430px;
}
/* .btn{
    margin-left: 370px;
    margin-top: 30px;
    width: 150px;
    height: 45px;
    border-radius: 10px;
    background: transparent;
    border-color: black;
    letter-spacing: 6px;
    font-family: maisonneue_demi, Helvetica, Arial, sans-serif!important;
    font-size: 15px;
    transition: 1s;
} */
.btn:hover{
    width:175px ;
    transition: 1s;
    background-color: gray;

}
.loli{
    background-color: black;
    height: 500px;
    width: 100%;
    margin-top: 600px;
}
.klop{
    padding-left: 630px;
    width: 100px;
    height: 50px;
    margin-top: 120px;
    
    background-color: black;
}
.for{
    color: white;
    text-align: center;
    line-height: 35px;
    font-family:sans-serif;
}
#row{
    text-transform: uppercase;
    font-size: 13px;
    
}
#dor{
    text-transform: uppercase;
    font-size: 13px;
}
#san{
    text-transform: uppercase;
    font-size: 13px;
}

.banner{
    background-image: url(../images/images.jpeg);
    background-size: cover;
    height: 90vh;
    /* background-repeat: no-repeat; */
    display: flex;
    justify-content: center;
    align-items: center;

}
.banner h1{
    color: white;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;

}
.sigh{
    display: grid;
    grid-template-columns: repeat(1,1fr );
    
    
}
.loli{
    padding-bottom: 20px;
}
form{
    margin: 20px;
    padding: 0 15%;
}
#inp{
    display: block;
    margin: 15px 0;
    width: 100%;
    height: 40px;
}
#lab{
    display: block;
    text-align: right;
}
.one{
    text-transform: uppercase;
    color: grey;
    border: transparent;
}
.d{
    color: red;
}
#inp::placeholder{
    color: grey;
    text-transform: capitalize;
}
.btn{
    width: 150px;
    height: 70px;
    margin-right: 200px;
    border: 2px solid;
    border-radius: 15px;
    background: transparent;
    border-color: black;
    letter-spacing: 6px;
    font-family: maisonneue_demi, Helvetica, Arial, sans-serif!important;
    font-size: 15px;
    transition: 1s;
}